@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-color: #f2f2f2;
}
@media screen and (max-width: 768px) {
  .hov:hover {
    background-color: #d1d5db;
  }
  .desktop {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hov:hover {
    background-color: #f2f2f2;
  }
  .desktop {
    display: block;
  }
}
.active{
  background-color: rgb(9, 70, 163);
}